<!DOCTYPE html>
<html>
  <head>
    <title>Passgen</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1 class="welcome"> Welcome to passgen</h1>
    <%= render "password_form" %>
    <br/>
    <br/>
    <h2 id="display"><%= @display %></h2>
  </body>
</html>